<%-include('header'); -%>


<body>
    <div class="container">
        <h1>Rameurs :</h1>
        <div class="filters">
            <button class="filter-btn">Marque</button>
            <button class="filter-btn">Prix</button>
            <button class="filter-btn">Resistance</button>
        </div>

        <div class="product-list">
            <div class="product">
                <img src="img/rameur.png" alt="Rameur 1">
                <h2>Rameur 1</h2>
                <p>39€/30 jours</p>
                <button class="add-to-cart">Ajouter au panier</button>
            </div>

            <div class="product">
                <img src="img/rameur.png" alt="Rameur 1">
                <h2>Rameur 1</h2>
                <p>39€/30 jours</p>
                <button class="add-to-cart">Ajouter au panier</button>
            </div>

            <div class="product">
                <img src="img/rameur.png" alt="Rameur 1">
                <h2>Rameur 1</h2>
                <p>39€/30 jours</p>
                <button class="add-to-cart">Ajouter au panier</button>
            </div>

            <div class="product">
                <img src="img/rameur.png" alt="Rameur 1">
                <h2>Rameur 1</h2>
                <p>39€/30 jours</p>
                <button class="add-to-cart">Ajouter au panier</button>
            </div>

            <div class="product">
                <img src="img/rameur.png" alt="Rameur 1">
                <h2>Rameur 1</h2>
                <p>39€/30 jours</p>
                <button class="add-to-cart">Ajouter au panier</button>
            </div>

            <div class="product">
                <img src="img/rameur.png" alt="Rameur 1">
                <h2>Rameur 1</h2>
                <p>39€/30 jours</p>
                <button class="add-to-cart">Ajouter au panier</button>
            </div>
        </div>
    </div>
</body>
</html>



<%- include('footer'); -%>