<footer class="footer">
    <div class="footerText">
        <div class="footerTitle">
                <h1>Connecter avec la nature</h1>
                <h2>Par le sport</h2>
                <h2>Pour votre bien-être</h2>
        </div>
        <div class="footerContent">
            <div class="footer-section">
                <h3>Suivez-nous</h3>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>  
            <div class="footer-section">
                <h3>Use cases</h3>
                <ul>
                    <li><a href="#">UI design</a></li>
                    <li><a href="#">UX design</a></li>
                    <li><a href="#">Wireframing</a></li>
                    <li><a href="#">Diagramming</a></li>
                    <li><a href="#">Brainstorming</a></li>
                    <li><a href="#">Online whiteboard</a></li>
                </ul>
            </div>


            <div class="footer-section">
                <h3>Explore</h3>
                <ul>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Prototyping</a></li>
                    <li><a href="#">Development features</a></li>
                    <li><a href="#">Design systems</a></li>
                    <li><a href="#">Collaboration features</a></li>
                    <li><a href="#">Design process</a></li>
                </ul>
            </div>


            <div class="footer-section">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Best practices</a></li>
                    <li><a href="#">Colors</a></li>
                    <li><a href="#">Color wheel</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Developers</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>


</html>