<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Locfit</title>
</head>

<header class="navbar">
    <div class="navbar-left">
        <img src="img/Locfit_logo.png" alt="Locfit Logo" class="logo">
    </div>

    <div class="navbar-center">
        <input type="text" class="search-bar" placeholder="Rechercher...">
        <button class="search-btn">
            <img src="recherche.png" alt="Search" />
        </button>
    </div>

    <div class="navbar-right">
        <a href="img/magasins.ejs"><img src="img/magasins.png" class="icon-link">Magasins</a>
        <a href="img/favoris.ejs"><img src="img/favoris.png" class="icon-link">Favoris</a>
        <a href="img/panier.ejs"><img src="img/panier.png" class="icon-link">Panier</a>
        <a href="img/compte.ejs"><img src="img/compte.png" class="icon-link">Compte</a>
    </div>
</header>

<nav class="menu">
    <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Équipements</a></li>
        <li><a href="#">Conseil</a></li>
        <li><a href="#">Vidéos</a></li>
        <li><a href="#">Aide</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

</body>
</html>