<%-include('header'); -%> 

<article id="Accueil" class="container1">

    <div class="content">
        <img  src="img/img_Accueil.jpg" class="imgPres" alt="Image-Presentation" />
    </div>
        
</article>

<%- include('footer');  -%>

