<%-include('header'); -%>

<article id="Accueil" class="container1">
  <div class="content">
    <img src="img/img_Accueil.jpg" class="imgPres" alt="Image-Presentation" />
  </div>
</article>
<div class="container-step">
  <div class="cadresection">
    <div class="sectionTitle">
      <h1>Comment louer mon équipement sportif ?</h1>
    </div>
    <div class="section-steps">
      <div class="step">
        <h3>1. CHOISIR MON PRODUIT</h3>
        <p>Je choisis le matériel avec les services associés sur locfit.fr</p>
      </div>
      <div class="step">
        <h3>2. SELECTIONNER L' ABONNEMENT</h3>
        <p>
          Je choisis l'offre de location qui me correspond et je récupère mon
          matériel en magasin.
        </p>
      </div>
      <div class="step">
        <h3>3. PRATIQUER</h3>
        <p>
          J'utilise mon produit en toute liberté en bénéficiant des services
          associés : entretien, casse, etc.
        </p>
      </div>
      <div class="step">
        <h3>4. RETOURNER MON PRODUIT</h3>
        <p>
          Je me rends en magasin lorsque mon engagement est terminé pour
          retourner mon produit.
        </p>
      </div>
    </div>
    <a href="#" class="btn">En savoir plus</a>
  </div>
</div>
<!-- Section Produits -->

  <div class="container-step">
    <div class="cadresection">
      <div class="sectionTitle">
        <h1>
            Vos coups de coeur du moment <span style="color: green">&#10084;</span>
        </h1>
      </div>
      <div class="section-steps">
        <div class="step">
          <div class="CCPrix">
            <h2>39€/30jours</h2>
          </div>
          <div class="CCImg">
            <img src="" alt="">
          </div>
          <h2>Nom du produit</h2>
        </div>
        <div class="step">
          <h3>2. SELECTIONNER L' ABONNEMENT</h3>
          <p>
            Je choisis l'offre de location qui me correspond et je récupère mon
            matériel en magasin.
          </p>
        </div>
        <div class="step">
          <h3>3. PRATIQUER</h3>
          <p>
            J'utilise mon produit en toute liberté en bénéficiant des services
            associés : entretien, casse, etc.
          </p>
        </div>
        <div class="step">
          <h3>4. RETOURNER MON PRODUIT</h3>
          <p>
            Je me rends en magasin lorsque mon engagement est terminé pour
            retourner mon produit.
          </p>
        </div>
      </div>
      <a href="#" class="btn">En savoir plus</a>
    </div>
  </div>
<%- include('footer'); -%>
