<%-include('header'); -%>

    <article id="Accueil" class="container1">

        <div class="content">
            <img src="img/img_Accueil.jpg" class="imgPres" alt="Image-Presentation" />
        </div>

    </article>

    <article class="Explication">
        <h2 class="SousTitre"> Experiences</h2>


        <section class="methodologie">

            <article class="cards2">

                <div class="cards-title">2021-2023</div>
                <div class="cards-title">Bénévole Banque alimentaire
                </div>
                <div class="cards-subtitle">Melesse (35)</div>
                <div class="cards-txt">Sensibilisation aux conditions des personnes les plus démunies.
                </div>
                <div class="cards-txt">Aquis: Capacité d’écoute, analyse</div>


            </article>


            <article class="cards2">

                <div class="cards-title">2021-2023</div>
                <div class="cards-title">Cours d’art plastique</div>
                <div class="cards-subtitle">Ecole Art plastique, Betton (35)</div>
                <div class="cards-txt">Peinture
                    <br>Dessin<br>
                    Pastel
                </div>
                <div class="cards-txt">Aquis: Culture artistique</div>

            </article>

            <article class="cards2">

                <div class="cards-title">2021</div>
                <div class="cards-title">Stage Ecole Creative Seeds</div>
                <div class="cards-subtitle">École animation 3D Cesson Sévigné</div>
                <div class="cards-txt">Initation modélisation 3D</div>
                <div class="cards-txt">Aquis: Créativité</div>

            </article>

            <article class="cards2">

                <div class="cards-title">2020</div>
                <div class="cards-title">Stage d’observation Loc Maria Biscuit</div>
                <div class="cards-subtitle">Entreprise à Dinan</div>
                <div class="cards-txt">Découverte de différents services (communication, R&D, marketing,
                    import/export, commercial, informatique)</div>
                <div class="cards-txt">Aquis: Capacité d’écoute, analyse</div>
            </article>

        </section>

    </article>





    <%- include('footer'); -%>