<%-include('header'); -%>

<article id="Accueil" class="container1">
  <div class="content">
    <img src="img/img_Accueil.jpg" class="imgPres" alt="Image-Presentation" />
  </div>
</article>
    <div class="container">
        <div class="section-steps">
            <div class="step">
                <h3>1. CHOISIR MON PRODUIT</h3>
                <p>Je choisis le matériel avec les services associés sur locfit.fr</p>
            </div>
            <div class="step">
                <h3>2. SELECTIONNER L'
                    ABONNEMENT</h3>
                <p>Je choisis l'offre de location qui me correspond et je récupère mon matériel en magasin.</p>
            </div>
            <div class="step">
                <h3>3. PRATIQUER</h3>
                <p>J'utilise mon produit en toute liberté en bénéficiant des services associés : entretien, casse, etc.</p>
            </div>
            <div class="step">
                <h3>4. RETOURNER MON PRODUIT</h3>
                <p>Je me rends en magasin lorsque mon engagement est terminé pour retourner mon produit.</p>
            </div>
        </div>
        <a href="#" class="btn">En savoir plus</a>
    </div>
    <!-- Section Produits -->
    <div class="product-section">
        <h2>Vos coups de coeur du moment <span style="color: green;">&#10084;</span></h2>
        <div class="product-list">
            <div class="product blue">
                <div class="price">39€ / 30 jours</div>
                <img src="rameur1.png" alt="Rameur 1">
                <p class="product-name">Rameur 1</p>
            </div>
            <div class="product">
                <div class="price">39€ / 30 jours</div>
                <img src="rameur1.png" alt="Rameur 1">
                <p class="product-name">Rameur 1</p>
            </div>
            <div class="product">
                <div class="price">39€ / 30 jours</div>
                <img src="rameur1.png" alt="Rameur 1">
                <p class="product-name">Rameur 1</p>
            </div>
            <div class="product">
                <div class="price">39€ / 30 jours</div>
                <img src="rameur1.png" alt="Rameur 1">
                <p class="product-name">Rameur 1</p>
            </div>
        </div>
    </div>
<%- include('footer'); -%>
