<main>
    <link rel="stylesheet" href="/css/inscription.css">


    <div class="insContainer">
        <form action="/inscription" method="post">
            <div class="logo-container">
                <img src="/img/Locfit_logo.png" alt="Logo" class="logo">
            </div>
            <h1>Inscription</h1>
            <div class="identity">
                <div class="nom">
                    <label for="nom"><h2>Nom</h2></label>
                    <div class="donneesIns">
                        <input type="text" id="nom" name="nom" placeholder="Nom de famille" required/>
                    </div>
                </div>
                <div class="prenom">
                    <label for="prenom"><h2>Prénom</h2></label>
                    <div class="donneesIns">
                        <input type="text" id="prenom" name="prenom" placeholder="Votre prénom" required/>
                    </div>
                </div>
            </div>
            <div class="identity">
                <div class="date">
                    <label for="ddn"><h2>Date de naissance</h2></label>
                    <div class="donneesIns">
                        <input type="date" id="ddn" name="ddn" required/>
                    </div>
                </div>
                <div class="pseudo">
                    <label for="login"><h2>Pseudo</h2></label>
                    <div class="donneesIns">
                        <input type="text" id="login" name="login" placeholder="Votre pseudo" required/>
                    </div>
                </div>
            </div>
            <div class="adresse">
                <label for="email"><h2>Adresse mail</h2></label>
                <div class="donneesIns">
                    <input type="email" id="email" name="email" placeholder="Votre adresse mail" required/>
                </div>
            </div>
            <div class="adressePostale">
                <div class="motdepasse">
                    <label for="password"><h2>Mot de passe</h2></label>
                    <div class="donneesIns">
                        <input type="password" id="password" name="password" placeholder="Votre mot de passe" required/>
                    </div>
                </div>


                <div class="form-buttons">
                    <button type="submit">Inscription</button>
                    <a href="/" class="btn-cancel">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</main>