<%- include('header'); -%>


<h1>
    Locations en attente
</h1>
<p>
    <% WaitList.forEach(element => { %>
       <%= element.location_etat %>
       <form action="/valid" method="post">
        <input type="hidden" name="product_id" value="<%=element.produit_id %>">
        <button type="submit">Valider</button>
       </form>
    <% }) %>
</p>




    <!-- <div class="container_location"> -->
        <!-- Breadcrumb -->
        <!-- <div class="breadcrumb">
            Lorem &gt; Ipsum dolor
        </div> -->


        <!-- Equipment List -->
        <!-- <div class="equipment-list">
            <div class="equipment-item">
                <div class="item-img">
                    <img src="placeholder.jpg" alt="Item Image">
                </div>
                <div class="item-details">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum</p>
                </div>
                <div class="item-actions">
                    <button class="btn-light">Lorem ipsum dolor</button>
                    <button class="btn-dark">Lorem ipsum dolor</button>
                    <button class="btn-light">Lorem ipsum dolor</button>
                </div>
            </div>


            <div class="equipment-item">
                <div class="item-img">
                    <img src="placeholder.jpg" alt="Item Image">
                </div>
                <div class="item-details">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum</p>
                </div>
                <div class="item-actions">
                    <button class="btn-light">Lorem ipsum dolor</button>
                    <button class="btn-dark">Lorem ipsum dolor</button>
                    <button class="btn-light">Lorem ipsum dolor</button>
                </div>
            </div>


            <div class="equipment-item">
                <div class="item-img">
                    <img src="placeholder.jpg" alt="Item Image">
                </div>
                <div class="item-details">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum</p>
                </div>
                <div class="item-actions">
                    <button class="btn-light">Lorem ipsum dolor</button>
                    <button class="btn-dark">Lorem ipsum dolor</button>
                    <button class="btn-light">Lorem ipsum dolor</button>
                </div>
            </div>


            <div class="equipment-item">
                <div class="item-img">
                    <img src="placeholder.jpg" alt="Item Image">
                </div>
                <div class="item-details">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum</p>
                </div>
                <div class="item-actions">
                    <button class="btn-light">Lorem ipsum dolor</button>
                    <button class="btn-dark">Lorem ipsum dolor</button>
                    <button class="btn-light">Lorem ipsum dolor</button>
                </div>
            </div>
        </div>
    </div> -->










<%- include('footer'); -%>