

/* -----------------------accueil-----------------------*/

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-logout {
    background-color: #ff4b5c;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-logout:hover {
    background-color: #ff6f74;
}


.container1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imgPres {
  
    width: 1010px;
  
  }
  .container-step {
    height: 330px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cadresection {
    width: 1260px;
}

.section-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 1230px;
}

.step {
    width: 270px;
    height: 160px;
    background-color: #4C7B42;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: space-around;
}

.step h3 {
    font-size: 1em;
    margin-left: 20px;
    width: 220px;
}

.step p {
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #214014;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 40px;
}

.btn:hover {
    background-color: #45a049;
}

.product-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: 22%;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    background-color: orange;
    color: white;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 1em;
    margin: 0;
}

.blue .price {
    background-color: #00AEEF;
}
.CCsection-steps {
    display: flex;
    justify-content: space-between;
    width: 1230px;
}
.CCstep {
    width: 220px;
    display: flex;
    flex-direction: column;
}
.CCcontainer {
    height: 385px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.CCcontainer h1 {
 margin: 0;
}
.CCcontainer .cadresection {
    width: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.CCPrix {
    width: 220px;
    height: 55px;
    background-color: #F38923;
    color: white;
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
}
.CCPrix h2 {
    font-size: small;
    font-weight: 100;
}
.CCPrix h2 strong {
    font-size: x-large;
}
.CCImg {
    height: 210px;
    background-color: #E9E9E9;
    margin-bottom: 10px;
}
.CCImg img {
    height: 210px;
}

.CCstep p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 0px;
}