.filtreContainer{
 margin: 30px;
}

.container_catalogue {
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
    text-align: left;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #4C7B42;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #556b2f;
}

.product-list_catalogue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 1300px;
}

.product_catalogue {
    background-color: white;
    margin-top: 20px;
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imgProduct{
    width: 300px;
    height: 330px;
    background-color: #e9e9e9;
    padding: 30px;
}


h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.add-to-cart {
    background-color: #F38923;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.add-to-cart:hover {
    background-color: #e07b00;
}

.action-buttons {
    display: flex;
    margin-bottom: 50px;
    align-items: flex-end;
}

.favButton {
    height: 30px; 
    color: #4C7B42;
}

.favButton:hover {
    opacity: 0.8;
}

.addToFav {
    border-style: none;
    background: none;
}