* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container_catalogue {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

h1 {
    margin: 20px 0;
    text-align: left;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #4C7B42;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #556b2f;
}

.product-list_catalogue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 1300px;
}

.product_catalogue {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.product_catalogue img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.add-to-cart {
    background-color: #F38923;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.add-to-cart:hover {
    background-color: #e07b00;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-bottom: 50px;
}

.image-link {
    height: 30px; 
    margin-top: 15px;
    cursor: pointer;
}

.image-link:hover {
    opacity: 0.8;
}

