body {
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    padding: 10px 20px;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}


.navbar-center {
    position: relative;
}


.logo {
    height: 53px;
    width: 200px;
    margin-left: 15px;
}


.sectionTitle {
    margin: 120px;
}

/* Search Bar Styling */
.search-container {
    position: relative;
}


.search-bar {
    width: 700px;
    padding: 10px;
    padding-left: 40px; /* Space for the icon */
    border: 2px solid #8C9F76;
    border-radius: 4px;
    background-color: #f0f0f0; /* Light grey background */
}


.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}


.search-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
}






/* Styles pour le bouton Connexion/Déconnexion */
.btn-connexion {
    background-color: #40512D;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
    transition: background-color 0.3s;
    text-decoration: none;
    font-weight: bold;
}


.btn-connexion:hover {
    background-color: #567d4b;
}


/* Styles pour le bouton Création Agent */
.btn-creation-agent {
    background-color: #F38923;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    transition: background-color 0.3s;
}


.btn-creation-agent:hover {
    background-color: #e07b00;
}


/* Pour centrer le contenu */
.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}


/* Positionnement du bouton Connexion/Déconnexion */
.connexion-button {
    display: flex;
    align-items: center;
}








.icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}


.icon-link {
    width: 33px;
    height: 30px;
}


.navbar-right a {
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    color: black;
    font-size: 12px;
}




/* Menu styling */
.menu {
    background-color: white;
    border-bottom: 2px solid #ccc;
    padding: 10px;
}


.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}


.menu ul li {
    position: relative;
    display: inline-block;
}


.menu ul li a {
    text-decoration: none;
    color: #40512D;
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu ul li a::after {
    content: '\25BC';
    font-size: 12px;
    margin-left: 8px;
    color: #40512D;
    display: inline-block;
    transition: transform 0.2s ease;
}
