/* -----------------------Modification-----------------------*/
main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-info {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 50px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}



h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #45a049;
}

h2 {
    font-size: 1.5em;
    color: #214014;
    margin-bottom: 15px;
}

.btn-modif {
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-modif:hover {
    background-color: #38a045;
}

#modif-form {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#modif-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #214014;
}

#modif-form input[type="text"],
#modif-form input[type="date"],
#modif-form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1em;
}

#modif-form button[type="submit"] {
    background-color: #45a049;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#modif-form button[type="submit"]:hover {
    background-color: #38a045;
}

#modif-form button[type="button"] {
    background-color: #ff4b5c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#modif-form button[type="button"]:hover {
    background-color: #ff6f74;
}

/* Section pour les produits favoris */
.favoris {
    margin-top: 20px;
}

.produits-favoris {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.produit {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produit img {
    max-width: 100%;
    border-radius: 8px;
}

.produit h3 {
    font-size: 1.2em;
    color: #214014;
}

.produit p {
    font-size: 1em;
    color: #333;
}

.produit button {
    background-color: #214014;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produit button:hover {
    background-color: #45a049;
}
