.container {
    width: 1230px;
    height: 330px;
}
.section-steps {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.step {
    width: 270px;
    height: 160px;
    background-color: #4C7B42;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step h3 {
    font-size: 1em;
    margin-left: 20px;
    width: 220px;
}

.step p {
    font-size: 0.9em;
    margin-right: 20px;
    margin-left: 20px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 40px;
}

.btn:hover {
    background-color: #45a049;
}

.product-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: 22%;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    background-color: orange;
    color: white;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 1em;
    margin: 0;
}

.blue .price {
    background-color: #00AEEF;
}