/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.logo {
    height: 53px;
    width: 200px;
}

.search-bar {
    width: 701px;
    padding: 10px;
    border: 2px solid #8C9F76;
    border-radius: 4px;
}

.search-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-btn img {
    height: 20px;
}

.icon-link {
    width: 30px;
}

.navbar-right a {
    margin-left: 20px;
    color: #40512D;
    text-decoration: none;
    font-weight: bold;
}

.icon-link:hover {
    text-decoration: underline;
}

/* Menu styling */
.menu {
    background-color: white;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.footer {
    
    /* Semi-transparent background */
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerTitle {
 color: #fff;
}

.footerText {
display: flex;
flex-direction: column;
width: 1260px;
}

.footerContent {
display: flex;
justify-content: space-evenly;
align-items: center;
height: 320px;
background-color: white;
}

.footer-section {
    margin: 10px;
}

.footer h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin: 8px 0;
}

.footer ul li a {
    text-decoration: none;
    color: black;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.footer p {
    font-size: 0.9em;
    text-align: center;
    color: #ccc;
}

footer {
    background-image: url("../img/Foret_Footer2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}